.contact {
    padding: 64px 16px 88px;
    background: $lighterBlue;
    &__description{
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }
    &__header{
        text-align: center;
        color: $textDark;
        font-size: 36px;
        line-height: 48px;
    }
    &__links{
        text-align: center;
    }
    &__mail{
         border-radius: 64px;
        color: #fff;
        background: $lightBlue;
        display: inline-block;
        padding: 4px 24px;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        text-decoration: none;
    
    }
}