$textDark: #234361;
$console: #808082;
$lightConsole:  #A3A3A3;
$projectLink: #14B5D0;
$lightBlue: #4DA8FF;
$lighterBlue: #DBEAF7;
$blue: #1070CA;
$text: #425A70;
$gray: #212528;
$darkGray: #1E1E1E;
$lightGray: #464A4D;