@import "~normalize.css";
@import "_variables";
@import "../scss/modules/hero.scss";
@import "../scss/modules/skills.scss";
@import "../scss/modules/projects.scss";
@import "../scss/modules/contact.scss";
@import "../scss/modules/socials.scss";


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
font-family: 'Nunito', sans-serif;
color: $text;
}
